{% extends 'BaseLayout.html'%}

{% block content %}
    <h1>Book List</h1>
    <div class = "BookList">
        {% for book in books %}
            <div class = "Book">
                <H2> <a href = "{% url 'Book:details' slug=book.slug %}">{{book.title}}</a></H2>
                <p>Author : {{book.author}}</p>
                <p>Genre : {{book.genre}}</p>
                <p>Release Date : {{book.releaseDate}}</p>
                <p>Short Description : {{book.getShortDescription}}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}