{% extends 'BaseLayout.html'%}

{% block content %}
    <h1>Book List</h1>

    <form class="order-link" action="{% url 'Book:list' %}" method="post">
        <div class = "OrdButton"> Order By
            <select name = "OrdSelector">
                {% for filter in filters %}
                    <option value="{{filter}}">{{filter}}</option>
                {% endfor %}
            </select>
            <select name = "selectOrd">
                <option value = "ascending">Ascending</option>
                <option value = "descending">Descending</option>
            </select>
        </div>
        {% csrf_token %}
        <input type="submit" value="Select">
    </form>

    <div class = "BestBook">
            <H1>Best Book</H1>
            <H2> <a href = "{% url 'Book:details' slug=bestBook.slug %}">{{bestBook.title}}</a></H2>
                    <p>Author : {{bestBook.author}}</p>
                    <p>Genre : {{bestBook.genre}}</p>
                    <p>Release Date : {{bestBook.releaseDate}}</p>
                    <p>Short Description : {{bestBook.getShortDescription}}</p>
        </div>

    <div class = "BookList">
        <H1>All Books</H1>
        {% for book in books %}
            <div class = "Book">
                <H2> <a href = "{% url 'Book:details' slug=book.slug %}">{{book.title}}</a></H2>
                <p>Author : {{book.author}}</p>
                <p>Genre : {{book.genre}}</p>
                <p>Release Date : {{book.releaseDate}}</p>
                <p>Short Description : {{book.getShortDescription}}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}