{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Library</title>
    <link rel = "stylesheet" href="{% static 'styles.css'%}">
</head>
<body>
    <div class = "wrapper">
        <nav>
            <ul>
                {% if user.is_authenticated%}
                    <form class="home-link" action="{% url 'Book:list' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Home</button>
                    </form>
                    <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                    <form class="booklist-link" action="{% url 'BookLoan:loanList' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">My List</button>
                    </form>
                {%else%}
                    <form class="login-link" action="{% url 'accounts:login' %}">
                        <button type="submit">Login</button>
                    </form>
                    <form class="login-link" action="{% url 'accounts:signup' %}">
                        <button type="submit">Sigup</button>
                    </form>
                {% endif %}
            </ul>
        </nav>    
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>